<link rel=stylesheet href=styles/styles.css>
<h1>Yo!</h1>

<h2>My name is Azhar</h2>

<p><img src="img/moi.avif" alt="" title="" /></p>

<p><a href="/gallery">Gallery</a></p>

<h3>Stuff I do</h3>

<h4>Tech</h4>

<p>I build and fix computers, write programs, <br />
hardware hacking and mods, free(libre) software installation</p>

<h4>Art</h4>

<p>Digital art mostly pixel art <br />
Drawing regular art on paper <br />
Spray paint grafiti and space art <br />
Beatboxing <br />
Photography <br />
8-Bit music</p>

<h4>Lighting</h4>

<p>Colorful and ambiance LED installations  </p>

<hr />

<h2># Contact info}</h2>

<h3>JAMI</h3>

<blockquote>
  <p>25aba1c52ddd7b1ed26bfdf71f160538a98e0fda</p>
</blockquote>

<p>Username: azhar-  </p>

<hr />

<h3>TOX</h3>

<blockquote>
  <p>531EAE336E596F5330505E94041BD98B6B80A37C0D781AA84004216BEDFCE8453A8E1536DB31</p>
</blockquote>

<p>Username: azhar</p>

<hr />

<h3>Matrix</h3>

<p>Coming soon</p>

<hr />

<h3>XMPP</h3>

<p>Coming soon</p>

<hr />

<h3>email</h3>

<p>Coming soon</p>
